USE OF IF - ELSE STATEMENTS

In [8]:
print("Start of Program")
a = int(input("Enter a number"))
if a == 8 :
     print("The Value is Five")
else:
     print("This is else part test")
     print("This is else part test")
     print("This is else part test")
print("This will work irrespective of If or Else")
print("Entered number is",a)
print("Program End")

Start of Program
The Value is Five
This will work irrespective of If or Else
Entered number is 8
Program End

Write a program to check if the entered number is odd or even.

In [13]:
print("Start of Program")
a = float (input ("Enter the number"))
if round(a)%2 == 0:
    print("The number is Even")
else:
    print("The number is Odd")
print("The entered number is" ,a)
print("End the Program")

Start of Program
The number is Odd
The entered number is 3.4
End the Program

In [18]:
print("Start of Program")
a = int (input ("Enter the number"))
if a%3 == 0 and a%5 == 0:
    print("FUSS AND BUSS")
elif a%3 == 0:
    print("FUSS")
elif a%5 == 0:
    print("BUSS")
else:
    print("WRONG INPUT")
print("END")

Start of Program
FUSS AND BUSS
END

Read 3 numbers from user and print the largest among them

With the same inputs , try to sort in ascending or descending order based on user choice.

In [5]:
msg = "  This is a string  \n this will give a new line  "
print(msg)
print(len(msg)) # get the number of charachter
msg = msg.strip()
print(len(msg))

  This is a string
 this will give a new line
49
45

LOOPING STATEMENTS (for , while)

In [1]:
for x in "This is a string":
    print(x)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [25]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

LIST

In [28]:
listex = ["item 1","item 2",10,22.45]
#print(type(listex))
print(listex)
for i in listex:
    print(i)

['item 1', 'item 2', 10, 22.45]
item 1
item 2
10
22.45

split() and strip()

In [4]:
a = "\t   hiiiiii   \n  "
a=a.strip() #removes extra space
print(a)

hiiiiii

In [18]:
msg = "This is a string"
print(msg.split(' '))
res=msg.split('i') #split the words in a sentence
print(res)
print(msg.upper()) #capital letters
print(msg.lower()) #small letters
print(msg.swapcase()) #it swaps the capital and small letters
#slicing
print(msg[5]) #5th charachter
print(msg[:5]) #till 5th
print(msg[5:10]) #from 5th to 10th
print(msg[5:]) #from 5th till last

['This', 'is', 'a', 'string']
['Th', 's ', 's a str', 'ng']
THIS IS A STRING
this is a string
tHIS IS A STRING
i
This
is a
is a string

.format()

In [20]:
name = input("Enter your Name:")
nclass = input("Where do you belong to:")
print("You are from {} and your name is {}.".format(nclass,name)) #for putting values while printing

You are from Kolkata and your name is Tanisha.

In [27]:
listex = ["one","two", "three","four"] #creating list
print (listex) #printing it

['one', 'two', 'three', 'four']

In [28]:
#case sensitive 
if "two" in listex: #searching element
    print("two is found")

two is found

In [29]:
listex[1] = "TWO" #changing the element from the list
print(listex)

['one', 'TWO', 'three', 'four']

In [30]:
newList = ["five","six","seven"]
listex = listex + newList #concatenation of two strings
listex.append("eight")
print(listex)

['one', 'TWO', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [32]:
print(listex[1:5]) #slicing the list

['TWO', 'three', 'four', 'five']

In [33]:
listex.pop()#removes the last item from the list
print(listex)

['one', 'TWO', 'three', 'four', 'five', 'six', 'seven']

In [34]:
listex.pop(0)#removes that particular index that is from strt
print(listex)

['TWO', 'three', 'four', 'five', 'six', 'seven']

pop removes tht particular index from the list
remove - removes tht particular element/value from the list

In [35]:
listex.remove("four")#removing that element
print(listex)

['TWO', 'three', 'five', 'six', 'seven']

In [37]:
listex.sort() #sorting alphabatically
print(listex)
listex.reverse() #reverse the number of elements
print(listex)

['TWO', 'five', 'seven', 'six', 'three']
['three', 'six', 'seven', 'five', 'TWO']

In [41]:
listex.sort(reverse = True)  #descending and in false it will be ascending
print(listex)

['three', 'six', 'seven', 'five', 'TWO']

FUNCTIONS

In [56]:
def functionName(n):   #defining a function
    print("Hi I am YOUR FIRST FUNCTION",n)
    print("My name is-",n)
    return ["Sucess",True]

In [57]:
name = "Tanisha" #defined a variable
functionName(name)  #calling a function

Hi I am YOUR FIRST FUNCTION Tanisha
My name is- Tanisha

['Sucess', True]